* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1em;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #222;
    color: #fff;
}


nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 2em;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #8a5ed7;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
    text-align: center;
}

#hero h1 {
    font-size: 8em;
    margin-bottom: 2em;
}

#hero h2 {
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 1em;
}

section {
    padding: 2em 0;
    text-align: center;
}

section h3 {
    font-size: 4em;
    margin-bottom: 0.6em;
}

section ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

section p {
    font-size: 1.4em;
    margin-left: 4em;
    margin-right: 4em;
}

section li {
    width: 30em;
    margin: 2em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

section li:hover {
    transform: translateY(-10px);
}

section li h4 {
    font-size: 2.5em;
    padding: 2em;
    border-bottom: 1px solid #ddd;
}

section li p {
    font-size: 1.6em;
    padding: 1em;
}

#skills li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 2em;
    font-size: 1.4em;
}

#projects a {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
}

#projects a:hover {
    color: #8a5ed7;
}

#contact a button {
    width: 3.4em;
    height: 3.4em;
    margin-bottom: 0.4em;
    border-radius: 50%;
}